<template>
    <div class="app">
        {{ test }}
    </div>
</template>

<script setup>
import { ref } from 'vue';

const test = ref('Hello World');
</script>

<style>
.app {
  margin: 16px;
  padding: 16px;
  background-color: #ADD8E6FF;
}
</style>
